*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

section{

    height: 100%;
    width: 100%;
    position: relative;
}
nav{
    padding: 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
.part-2{
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 70px;
  position: relative;
}

nav h1{
    font-size: 30px;
}
nav h1 i{
    display: inline-block;
    transform:rotate(45deg) ;
    font-size: 35px;
}
nav h4{
    font-size: 18px;
    font-weight: 600;
}

nav button{
    padding: 17px 30px;
    background-color: transparent ;
    font-size: 19px;
    font-weight: 600;
    border: 2px solid #000 ;
    border-radius: 18px;
}

.center{
display: flex;
height: 80%;
width: 100%;
padding: 50px 85px;
}

.center-part-1{
height: 100%;
width: 45%;
}
.center-part-2{
    position:relative ;
    height: 100%;
    width: 55%;
}
.center-part-1 h1{
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.18;
}
.center-part-1 p{
    font-size: 19px;
    width: 95%;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 32px;
}
.center-part-1 button{
    background-color: #000;
    color: aliceblue;
    border-radius: 10px;
    padding:15px 28px;
    font-size: 22px;
    border: none;
    font-weight: 100;

}

.center-part-2 img{
    height: 100%;
    
    object-fit:contain;
    position: absolute;
    right: 0;
}
.section-bottom{
  padding:5px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-bottom img{
    padding: 10px;
    height: 60px;

}

.section-2 .services{
    padding: 40px 120px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    
}
.services h3{
    background-color: #9AE975;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.services p{
    width: 50%;
    font-size: 17px;
    font-weight: 500;
}
.container{
    height: 80%;
    width: 100%;
    display: flex;
    padding: 20px 120px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.elem{
    flex-shrink: 0;
    height:240px ;
    width: 34%;
    border: 3px solid black;
    border-radius: 30px;
    margin: 0px 10px 0px 10px;
    margin-bottom: 70px; 
    box-shadow: 0px 7px 0px black;
    padding: 60px 45px ;
    display: flex;
    
}

.elem-part-1{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    
    
}
.elem-part-2{
    height: 100%;
    width: 40%;
 padding-right: 30px;
   
}
 .elem-part-2 img{
    height: 100%;
    padding-left: 10px;
 }

 .elem-part-1 h2{
    background-color: #9AE975;
    font-size: 25px;
 width: 98%;
 font-family: 'Courier New', Courier, monospace;
border-radius: 3px;
padding-left: 4px;
 }
 .elem-part-1 h4{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    gap: 10px;
    
 }

 .elem-part-1 h4 i{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-30deg);
    font-weight: 300;
 }
 .black{
    background-color: #000;
    
 }

 
.black .line1 h2{
    background-color: white;
}
.black .line1 h4 i{
    background-color: #fff;
    color: black;
    font-family: 900;
    
}


